.DS_Store
Thumbs.db
db.json
*.log
node_modules/
public/
.deploy*/
httpData/
.obsidian/
copilot-custom-prompts/
copilot-conversations/
books/*/.github/
books/*/.gitignore
books/*/.tool-versions
books/*/package-lock.json
books/*/package.json